body {
  font-family: futura;
  color: #d1c7c7;
  background: rgba(19, 53, 75, 1);
  font-family: futura;
  margin: 0;
}

ul {
  list-style-type: none;
  text-decoration: none;
  font-size: 1em;
  background: rgb(19, 53, 75);
  background: linear-gradient(
    45deg,
    rgb(22, 17, 44) 0%,
    rgba(201, 194, 206, 0.089) 100%
  );
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: block;
  color: #bbbbbb;
  padding: 14px 16px;
  text-decoration: none;
  margin-right: 70px;
}

li a:hover {
  color: rgba(145, 9, 31, 0.7);
}
.active {
  color: rgba(99, 6, 37, 0.575);
}
#main {
  border-radius: 5px;
  padding: 20px;
}
input[type="text"],
[type="email"],
[type="phone-number"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

#aboutme {
  background: rgb(19, 53, 75);
  background: linear-gradient(
    45deg,
    rgb(22, 17, 44) 0%,
    rgba(201, 194, 206, 0.089) 100%
  );
  margin: 0 auto;
  max-width: 800px;
  padding: 50px;
}

#social {
  padding: 10px;
  margin-top: 140px;
}
img {
  position: absolute;
  border-radius: 50%;
  width: 30px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-github {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}
.fa-spotify {
  background: green;
  color: white;
}

iframe {
  width: 250px;
  height: 80px;
  border: none;
}
span {
  color: #bb0000;
}
