body {
  font-family: futura;
  color: #bbbbbb;
  background: rgba(19, 53, 75, 1);
  font-family: futura;
  margin: 0;
}

ul {
  list-style-type: none;
  text-decoration: none;
  font-size: 1em;
  background: rgb(19, 53, 75);
  background: linear-gradient(
    45deg,
    rgb(22, 17, 44) 0%,
    rgba(201, 194, 206, 0.089) 100%
  );
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: block;
  color: #bbbbbb;
  padding: 14px 16px;
  text-decoration: none;
  margin-right: 70px;
}

li a:hover {
  color: rgba(145, 9, 31, 0.7);
}
.active {
  color: rgba(99, 6, 37, 0.575);
}
#main {
  border-radius: 5px;
  padding: 20px;
}
input[type="text"],
[type="email"],
[type="phone-number"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

#contact {
  background: rgb(19, 53, 75);
  background: linear-gradient(
    45deg,
    rgb(22, 17, 44) 0%,
    rgba(201, 194, 206, 0.089) 100%
  );
  margin-bottom: 40px;
  padding: 20px;
}

#checkbox {
  background: rgb(19, 53, 75);
  background: linear-gradient(
    45deg,
    rgb(22, 17, 44) 0%,
    rgba(201, 194, 206, 0.089) 100%
  );
  margin-bottom: 40px;
  padding: 20px;
}

#dropdown,
#radio,
#comments {
  margin-bottom: 40px;

  padding: 20px;
  font-size: large;
  color: #bbbbbb;
  background: rgb(19, 53, 75);
  background: linear-gradient(
    45deg,
    rgb(22, 17, 44) 0%,
    rgba(201, 194, 206, 0.089) 100%
  );
}

button {
  background: rgb(19, 53, 75);
  background: linear-gradient(
    45deg,
    rgba(40, 25, 105, 0.473) 0%,
    rgba(201, 194, 206, 0.089) 100%
  );
  color: #bbbbbb;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: rgba(53, 121, 170, 0.274);
}

img {
  position: absolute;
  border-radius: 50%;
  width: 30px;
}

#form {
  background: rgba(224, 224, 225, 0.21);
  margin: 0 auto;
  width: 700px;
}

#comment {
  background: red;
  position: relative;
  margin-left: 10px;
}
