/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
     /* colors */
  --clr-dark: 230 35% 7%;
  --clr-accent: 6, 100%, 30%;
  --clr-white: 0 0% 100%;
  --clr-gold: 40, 54%, 49%;
  --clr-green: 123, 57%, 24%;
  --clr-lightGreen: ;
  --clr-lavander: 239, 51%, 67%;
  --clr-lightLavander: ;
  --clr-raspberry: 323, 35%, 31%;
  --clr-lightRaspberry: ;
  --clr-gery: 0, 0%, 76%;
  --clr-gery2: 240, 0%, 58%;
    
    /* font-sizes */
    --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
    --fs-800: 3.5rem;
    --fs-700: 1.5rem;
    --fs-600: 1rem;
    --fs-500: 1.75rem;
    --fs-400: 0.9375rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;
    
    /* font-families */
    --ff-serif: "Bellefair", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif;
}

@media (min-width: 35em) {
    :root {
        --fs-800: 5rem;
        --fs-700: 2.5rem;
        --fs-600: 1.5rem;
        --fs-400: 1rem;
    }
}

@media (min-width: 45em) {
    :root {
        /* font-sizes */
        --fs-800: 6.25rem;
        --fs-700: 3.5rem;
        --fs-600: 2rem;
        --fs-400: 1.125rem;
    }
}


/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* set up the body */
body {
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-400);
    color: hsl( var(--clr-white) );
    background-color: hsl( var(--clr-dark) );
    line-height: 1.5;
    min-height: 100vh;
    
    display: grid;
    grid-template-rows: min-content 1fr;
    
    overflow-x: hidden;
}

/* make images easier to work with */
img,
picutre {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.d-block {
    display: block;
}

.flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);
}

.container {
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 80rem;
}

.grid-container {
    text-align: center;
    display: grid;
    place-items: center;
    padding-inline: 1rem;

}

.grid-container * {
    max-width: 50ch;
}

@media (min-width: 45em) {
    .grid-container {
        text-align: left;
        column-gap: var(--container-gap, 2rem);
        grid-template-columns: minmax(1rem, 1fr) repeat(2, minmax(0, 30rem)) minmax(1rem, 1fr);
    }
    
    .grid-container > *:first-child {
        grid-column: 2;
    }

    .grid-container > *:last-child {
        grid-column: 3;
    }
    
    .grid-container--home {
        padding-bottom: max(6rem, 20vh);
        align-items: end;
    }
}


.sr-only {
  position: absolute; 
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px; 
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* colors */
.bg-dark {
    background-color: hsl(var(--clr-dark));
  }
  .bg-accent {
    background-color: hsl(var(--clr-accent));
  }
  .bg-white {
    background-color: hsl(var(--clr-white));
  }
  .bg-green {
    background-color: hsl(var(--clr-green));
  }
  .bg-gold {
    background-color: hsl(var(--clr-gold));
  }
  .bg-raspberry {
    background-color: hsl(var(--clr-raspberry));
  }
  .bg-lavander {
    background-color: hsl(var(--clr-lavander));
  }
  .bg-grey {
    background-color: hsl(var(--clr-gery));
  }
  .bg-grey2 {
    background-color: hsl(var(--clr-gery2));
  }
  
  
  .text-dark {
    color: hsl(var(--clr-dark));
  }
  .text-accent {
    color: hsl(var(--clr-accent));
  }
  .text-white {
    color: hsl(var(--clr-white));
  }
  .text-green {
    color: hsl(var(--clr-green));
  }
  .text-gold {
    color: hsl(var(--clr-gold));
  }
  .text-raspberry {
    color: hsl(var(--clr-raspberry));
  }
  .text-lavander {
    color: hsl(var(--clr-lavander));
  }
  .text-grey {
    color: hsl(var(--clr-gery));
  }
  .text-grey2 {
    color: hsl(var(--clr-gery2));
  }
/* typography */

.ff-serif { font-family: var(--ff-serif); } 
.ff-sans-cond { font-family: var(--ff-sans-cond); } 
.ff-sans-normal { font-family: var(--ff-sans-normal); } 

.letter-spacing-1 { letter-spacing: 4.75px; } 
.letter-spacing-2 { letter-spacing: 2.7px; } 
.letter-spacing-3 { letter-spacing: 2.35px; } 

.uppercase { text-transform: uppercase; }

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}

.numbered-title {
    font-family: var(--ff-sans-cond);
    font-size: var(--fs-500);
    text-transform: uppercase;
    letter-spacing: 4.72px; 
}

.numbered-title span {
    margin-right: .5em;
    font-weight: 700;
    color: hsl( var(--clr-white) / .25);
}


/* ------------------- */
/* Compontents         */
/* ------------------- */

.large-button {
    position: relative;
    z-index: 1;
    display: inline-grid;
    place-items: center;
    padding: 0 1em;
    aspect-ratio: 1;
    text-decoration: none;
    border-radius: 50%;
  }
  
  .large-button::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: hsl(var(--clr-white) / 0.2);
    border-radius: 50%;
    opacity: 0;
    transition: opacity 500ms linear, transform 750ms ease-in-out;
  }
  
  .large-button:hover::after,
  .large-button:focus::after {
    opacity: 1;
    transform: scale(1.5);
    border: 10px solid hsl(var(--clr-gold));
  }

/* primary-header */

.logo {
    margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem);
    text-decoration: none;
    padding: .5rem;
}

.primary-header {
    justify-content: space-between;
    align-items: center;
}

.primary-navigation {
    --gap: clamp(1.5rem, 5vw, 3.5rem);
    --underline-gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
    background: hsl( var(--clr-white) / 0.05);
    backdrop-filter: blur(1.5rem);
}

.primary-navigation a {
    text-decoration: none;
}

.primary-navigation a > span {
    font-weight: 700;
    margin-right: .5em;
}

.mobile-nav-toggle {
    display: none;
}

@media (max-width: 35rem) {
    .primary-navigation {
        --underline-gap: .5rem;
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;
        list-style: none;
        padding: min(20rem, 15vh) 2rem;
        margin: 0;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 500ms ease-in-out;
    }
    
    .primary-navigation[data-visible="true"] {
        transform: translateX(0);
    }
    
    .primary-navigation.underline-indicators > .active {
       border: 0;
    }
    
    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 2000;
        right: 1rem;
        top: 2rem;
        background: transparent;
        background-image: url(./icon-hamburger.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 1.5rem;
        aspect-ratio: 1;
        border: 0;
    }
    
    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url(./icon-hamburger-closed.svg);
    }
    
    .mobile-nav-toggle:focus-visible {
        outline: 5px solid white;
        outline-offset: 5px;
    }
    
}

@media (min-width: 35em) {
    .primary-navigation {
        padding-inline: clamp(3rem, 7vw, 7rem);
    }
}

@media (min-width: 35em) and (max-width: 44.999em) {
    .primary-navigation a > span {
        display: none;
    }
}

@media (min-width: 45em) {
    
     .primary-header::after {
         content: '';
         display: block;
         position: relative;
         height: 1px;
         width: 100%;
         margin-right: -2.5rem;
         background: hsl( var(--clr-white) / .25);
         order: 1;
     }
     
    nav {
        order: 2;
    }
    
    .primary-navigation {
        margin-block: 2rem;
    }
    
   
}


.underline-indicators > * {
    cursor: pointer;
    padding: var(--underline-gap, .5rem) 0;
    border: 0;
    border-bottom: .2rem solid hsl( var(--clr-white) / 0 );
    background-color: transparent;
}

.underline-indicators > *:hover,
.underline-indicators > *:focus {
    border-color: hsl( var(--clr-white) / .5);
}

.underline-indicators > .active,
.underline-indicators > [aria-selected="true"] {
    color: hsl( var(--clr-white) / 1);
    border-color: hsl( var(--clr-white) / 1); 
}

.tab-list {
    --gap: 2rem;
}

.dot-indicators > * {
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    padding: .5em;
    background-color: hsl( var(--clr-white) / .25);
}
 
.dot-indicators > *:hover,
.dot-indicators > *:focus { 
    background-color: hsl( var(--clr-white) / .5);
}

.dot-indicators > [aria-selected="true"] {
    background-color: hsl( var(--clr-white) / 1); 
}


/* ----------------------------- */
/* Page specific background      */
/* ----------------------------- */



/* ----------------------------- */
/* Layout                        */
/* ----------------------------- */


.grid-container {
    text-align: center;
    display: grid;
    place-items: center;
    padding-inline: 1rem;
    padding-bottom: 4rem;
}

.grid-container p:not([class]) {
    max-width: 50ch;
}

.numbered-title {
    grid-area: title;
}

/* destination layout */

.grid-container--destination {
    --flow-space: 2rem;
    grid-template-areas: 
        'title'
        'image'
        'tabs'
        'content';
}

.grid-container--destination > picture {
    grid-area: image;
    max-width: 60%;
}

.grid-container--destination > .tab-list {
    grid-area: tabs;
}

.grid-container--destination > .destination-info {
    grid-area: content;
}

.destination-meta {
    flex-direction: column;
    border-top: 1px solid hsl( var(--clr-white) / .1);
    padding-top: 2.5rem;
    margin-top: 2.5rem;
}

.destination-meta p {
    font-size: 1.75rem;
}

/* crew layout */

.grid-container--crew {
    --flow-space: 2rem;
    grid-template-areas: 
        'title'
        'image'
        'tabs'
        'content';
}


@media (min-width: 35em) {
    .numbered-title {
        justify-self: start;
        margin-top: 2rem;
    }
    
    .destination-meta {
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .grid-container--crew {
        padding-bottom: 0;
        grid-template-areas: 
            'title'
            'content'
            'tabs'
            'image';
    }
    
    
}

@media (min-width: 45em) {
    .grid-container {
        text-align: left;
        column-gap: var(--container-gap, 2rem);
        grid-template-columns: minmax(1rem, 1fr) repeat(2, minmax(0, 30rem)) minmax(1rem, 1fr);
    }
    
    .grid-container--home {
        padding-bottom: max(6rem, 20vh);
        align-items: end;
    }
    
    .grid-container--home > *:first-child {
        grid-column: 2;
    }

    .grid-container--home > *:last-child {
        grid-column: 3;
    }
    
    .grid-container--destination {
        justify-items: start;
        align-content: start;
        grid-template-areas: 
            '. title title .'
            '. image tabs .'
            '. image content .';
    }
    
    .grid-container--destination > picture,
    .grid-container--crew > picture{
        max-width: 90%;
    }
     
    .destination-meta {
        --gap: min(6vw, 6rem);
        justify-content: start;
    }
    

}

/*------ design specific-----*/
h1{
    display:inline-block;
}

h3{
    margin: 1rem;
}

.logo {
    position: relative;
    display: grid;
    place-items: center;
    padding: 0 0.25em;
    aspect-ratio: 1;
    text-decoration: none;
    border-left: .2rem solid hsl(var(--clr-gold));
    border-bottom: .2rem solid hsl(var(--clr-gold));
  }

  .aboutme {
    border-bottom: 10px solid hsl(var(--clr-lavander));
    border-right: 10px solid hsl(var(--clr-lavander));
    padding: 5rem;
    margin-inline: auto;
    max-width: 80rem;
    display: grid;
  }
  
  .fa {
    padding: 1rem;
    margin: 4rem 0.05rem;
    text-align: center;
    place-items: center;
    text-decoration: none;
    color: white;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3b5998;
  }
  
  .fa-twitter {
    background: #55acee;
  }
  
  .fa-google {
    background: #dd4b39;
  }
  
  .fa-linkedin {
    background: #007bb5;
  }
  
  .fa-youtube {
    background: #bb0000;
  }
  
  .fa-instagram {
    background: #125688;
  }
  
  .fa-soundcloud {
    background: #ff5500;
  }
  
  .fa-github {
    background: #ff5700;
  }
  
  .fa-rss {
    background: #ff6600;
  }
  
  .fa-spotify {
    background: green;
  }
  
  
  
  .player {
    display: inline-block, grid;
    width: 15rem;
    place-items: left;
    padding-top: 1rem;
  }
  
  .m{
    text-transform: lowercase;
  }

  .main {
    text-align: center;
    place-items: center;
  }
  
  #education,
  #resume,
  #skillset,
  #tools {
    list-style: none;
    line-height: 2rem;
  }

  img {
    width: 110%;
    margin: .5rem;
    text-align: center;
    place-items: center;
  }
  
  input[type="text"],
  [type="email"],
  [type="phone-number"],
  select,
  textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
  }
  
  #contact, #survey {
    background: hsl(var(--clr-dark));
    margin-bottom: 1rem;
    padding: 2rem;
  }
  
  #checkbox {
    background: hsl(var(--clr-dark));
    margin-bottom: 40px;
    padding: 20px;
  }
  
  #dropdown,
  #radio,
  #comments {
    margin-bottom: 40px;
    padding: 20px;
    font-size: large;
    color: white;
    background: hsl(var(--clr-dark));
  }

  .button {
    background: white;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #form {
    background: black;
    margin: 0 auto;
  }
  
  #comment {
    position: relative;
    margin-left: 10px;
  }
  
  #contact{
      border-top: hsl(var(--clr-lavander)) solid 10px;
      border-left: hsl(var(--clr-lavander)) solid 10px;
      background-color: rgb(36, 36, 36);
  }
  
  .btn-close{
     left: -50rem;
  }
  
  #survey{
    background-color: rgb(36, 36, 36);
      border-left: hsl(var(--clr-lavander)) solid 10px;
      text-align: center;
  }
  
  #footer{
      height: 20rem;
  }
  
  a{
    text-decoration: none;
  }

  #project {
  display: inline-block;
  padding: 5px;
  margin-left: 50px;
  width: 400px;
  height: 200px;
}

/* #resume,
#work {
  color: black;
  background-color: #bbbbbb;
} */


p{ 
    margin-bottom: 2rem;
}

#evileyes{
    text-decoration: none;
    border-radius: 4px;
    margin-top: 5rem;
    padding: .5rem;
}

.card{
  display: inline-block;
  margin: 0 auto;
  place-items: center;
}

.card-img-top{ 
margin: 0 auto;
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.icon{
    width: 2.5rem;
    margin: 1rem;
    text-align: center;
  }
