body {
      background: rgba(19,53,75,1);
    font-family: futura;
    padding: 20px 0;
    margin: 0;
    text-align:center;
    z-index: 1;
    color: rgb(255, 255, 255);
   }

#square{
    width: 400px;
    height:400px;
    background: rgb(19,53,75);
    background: linear-gradient(85deg, rgba(56, 84, 102, 0.479) 0%, rgba(92, 75, 105, 0.158) 10%);
    position: absolute;
    border-bottom-right-radius:35%;
    border-top-left-radius: 53%;
    float: right;
    z-index: 1;
    
}

#circle{
    width: 500px;
    height:500px;
    background: rgb(19,53,75);
    background: linear-gradient(45deg, rgba(19,53,75,1) 0%, rgba(201, 194, 206, 0.089) 100%);
    position: absolute;
    border-top-left-radius: 42%;
    border-bottom-right-radius: 35%;
    float: right;
    z-index: -1;
}

#square2{
    width: 800px;
    height:800px;
    background: rgb(97, 105, 110);
    background: linear-gradient(45deg, rgb(98, 115, 124) 0%, rgba(88, 89, 109, 0.897) 100%);
    position: absolute;
    border-top-left-radius: 27%;
    border-bottom-right-radius: 35%;
    float: right;
    z-index: -2;
    
}

#rectangle{
    width: 100%;
    height: 50px;
    background: rgb(19,53,75);
    background: linear-gradient(45deg, rgb(22, 17, 44) 0%, rgba(201, 194, 206, 0.089) 100%);
    position: absolute;
    z-index: -3;
    margin-top: 660px;
    margin-left: -148;
    
}

#circle:hover{
    background: rgb(39, 72, 94);
    background: linear-gradient(45deg, rgb(36, 62, 80) 0%, rgba(168, 163, 241, 0.192) 100%);
    box-shadow: 10px 10px 5px rgb(10, 34, 61);
    z-index: -1;
   }

p {
    margin-top: 90px;
    z-index: -1;
}

#arabic{
   float: right;
   margin-top: 400px;
   margin-right:-150px;
   font-size: 3em;
}

#en{
    float: right;
   margin-top: 445px;
   margin-right:-162px;
   font-size: 3em;
}
#esp{
float: right;
   margin-top: 490px;
   margin-right:-150px;
   font-size: 3em;
}
#en:hover, #arabic:hover, #esp:hover{
    color:rgb(143, 9, 31, 0.6)

}


#background{
margin-left: 150px;
}

ul{
    float:right;
    list-style-type: none;
    text-decoration: none;
    color: rgb(158, 156, 180); 
    font-size:  1em;
    
  
}

  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-right: 70px;
  }
  
  li a:hover {
    color:rgba(143, 9, 31, 0.7)
  }

img{
    position:absolute;
    width: 200px;
    border-radius: 50%;
    margin: 90px auto;
    margin-left: -100px;
   
}
#lang{
position:absolute;
margin-left: 1500px;
margin-top: 0px;

}

  #arabic {
   
   animation: 
      pulse 3s ease infinite alternate, 
      nudge 5s linear infinite alternate;
      }
  
  @keyframes pulse {
    0%, 100% {
      color: rgb(42, 85, 126);
    }
    10% {
      color: rgb(210, 139, 212);
    }
  }
  
  @keyframes nudge {
    0%, 100% {
      transform: translate(0, 0);
    }
    
    50% {
      transform: translate(50px, 0);
    }
    
    80% {
      transform: translate(-50px, 0);
    }
  }
  #en {
   
    animation: 
       pulse 2s ease infinite alternate, 
       nudge 2s linear infinite alternate;
       }
        
   #esp{ animation: 
    pulse 4s ease infinite alternate, 
    nudge 3s linear infinite alternate;
    }

    @media screen 
    and (min-device-width: 1200px) 
    and (max-device-width: 1600px) 
    and (-webkit-min-device-pixel-ratio: 1) { 
  }
  